<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>Understanding Routing</title>
</head>
<body>
    <div class="content cntr">
        <!-- Navbar -->
        <div class="nav flex cntr space">
            <div class="navtop flex separate cntr">
                <h1 id="title">Understanding Routing</h1>
                <div class="flex">
                    <form action="{{ url_for('index') }}">
                        <button type="submit" class="link_btn">Home</button>
                    </form>
                </div>
            </div>
        </div>

    <h2 class="cntr">Dojo!</h2>
    </div>
</body>
</html>
