<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>Document</title>
</head>
<body>


    <h1>Add a Friend</h1>
    <form action="/friends/add_friend" method="POST">
        <div>
            <label for="first_name">First Name: </label>
            <input type="text" name="first_name">
        </div>

        <div>
            <label for="last_name">Last Name: </label>
            <input type="text" name="last_name">
        </div>

        <div>
            <label for="occupation">Occupation: </label>
            <input type="text" name="occupation">
        </div>
        <button type="submit">Add Friend</button>
    </form>

</body>
</html>
