<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,500">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}" defer></script>
    <title>User Start</title>
</head>
<body>
    <div class="flex cntr vert_cntr">
        <h1 id="title">Choose Your Adventure</h1>

        <form action="/users">
            <button type="submit" class="btn_s space">See All Users</button>
        </form>
    
        <form action="/users/new">
            <button type="submit" class="btn_s space">Add a New User</button>
        </form>    
    </div>

</body>
</html>

<!-- Format for adding images -->
<!-- <img src="{{ url_for('static', filename='images/img.png') }}"> -->